body {
	background-color: #dbd9d9;
}

.label {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 37%;
}

.container {
    margin-top: 34px;
    font-family: 'Raleway', sans-serif;
}

.nurse.row {
	padding-top: 20px;
}

th {
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}

td, th{
	border: 1px dotted black;
	text-decoration: blink;
	background-color: #f7f2f2;
}

td {
	padding: 10px;
}

table {
  	border-collapse: collapse;
  	border-spacing: 2px;
 	width: 100%;
 	overflow: scroll;
}

#restricted_button {
	border-radius: 6px;
	cursor: pointer;
}

