body {
  background-color: #dbd9d9;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;

}

.form_div {
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgba(119, 41, 209, 0.4);
  border-radius: 5px;
}

#login_form {
  width: 100%;
}

label {
  text-align: center;
}

input [type="submit"] {
  font-size: 30px;
  padding: 10px;
}