body {
	background-color: #dbd9d9;
	font-family: 'Raleway', sans-serif;
}

table {
  	border-collapse: separate;
 	width: 100%;
}

th, td {
	background-color: #f7f2f2;
}

th {
	font-weight: bold;
}

.container-fluid {
	margin-left: 0;
	margin-right: 2px;
	margin-bottom: 20px;
}

.plus_box {
	font-size: 16px;
	background-color: rgba(143, 28, 160, 0.2);
	color: black;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
	margin-right: 45%;
	margin-left: 45%;
	padding-right: 6px;
}

.add_forms_div {
	width: 100%;
}

.fa.fa-plus {
	color: black;
	padding: 10%;
}

input, select {
	margin-left: 10px;
}

.info.row {
	margin: 0;
	height: 450px;
}

.form.row {
	margin-top: 20px;
	text-align: center;
}

.label {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    width: 100%;
    background-color: rgba(143, 28, 160, 0.2);
    border-radius: 2px;
}

.doctor_form_div, .nurse_form_div, .patient_form_div {
	width: 100%;
	background-color: rgba(143, 28, 160, 0.2);
	padding: 10px;
}

.col-md-6 {
	padding: 12px;
}

.buttons.row {
	height: 24px;
}

.home_icon_div {
    width: 98%;
    text-align: right;
}

#home_dashboard {
    margin: 4px;
    border-radius: 6px;
    cursor: pointer;
    background-color: whitesmoke;
    font-size: small;
}

#logout {
    border-radius: 6px;
    cursor: pointer;
    background-color: whitesmoke;
    font-size: small;
}

.doctor.row {
	height: 220px;
    overflow-y: scroll;
}

.nurse.row {
	padding-top: 24px;
	overflow-y: scroll;
	height: 220px;
}

.patients.col-md-6 {
	overflow-y: scroll;
}

@media (max-width: 1180px) {
	.col-md-6 {
		display: block;
	}
}
