tr:nth-child(even) {
	background-color: #f2f2f2
}

table {
  border-collapse: separate;
  border-spacing: 5px;
  border: 1px solid black;
}

.container{
	margin: 10px;
}

.all{
	margin: 20px;
}

.col-md-6{
	padding: 0;
}

.doctor_table{
	overflow: scroll;
}

.nurse_table{
	overflow: scroll;
}

.table_title{
	text-align: center;
}

.add_forms_div {
	border: 1px dashed black;
	width: 92%;
	margin: auto;
}

.main {
	width: 100%;
}

.plus_box {
	font-size: 16px;
	background-color: #66CDAA;
	color: white;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
	margin-right: 45%;
	margin-left: 45%;
	padding-right: 6px;
}

.fa.fa-plus {
	color: white;
	padding: 10%;
}

input, select {
	margin-left: 10px;
}