<!DOCTYPE html>
<html>
<head>
	<title>Homepage Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<script src="https://use.fontawesome.com/49e2270825.js"></script>
	{% load staticfiles %}
	<link rel='stylesheet' type="text/css" href="{% static 'homepage.css' %}">
</head>
<body>
	<div class="container">
		<div class="buttons row">
			<div class="home_icon_div">
				<a href="/restricted"><button id="restricted_button"><i class="fa fa-key" aria-hidden="true"></i> Restricted Data</button></a>
				<a href="/logout/"><button id="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button></a>
			</div>
		</div>
		<div class="first row">
			<div class="patients col-md-6">
				<label class="label" for="patient_public_info">Patients:</label>
				<table class="patient_public_info">
					<th>LastName</th>
					<th>FirstName</th>
					<th>Department</th>
					<th>Room</th>

					{% if patients.exists %}

					{% for p in patients %}
					<tr>
						<td class="last_name p">{{ p.last_name }}</td>
						<td class="first_name p">{{ p.first_name }}</td>
						<td class="department p">{{ p.department }}</td>
						<td class="room p">{{ p.room_number }}</td>
					</tr>
					{% endfor %}
					{% else %}
						<div class="no_patients">
							<p>No patients being treated...</p>
						</div>
					{% endif %}
				</table>
			</div>
			<div class="doctor col-md-6">
				<div class="doctor_chart">
					<label class="label" for="doctorChart">Doctors:</label>
					<canvas id="doctorChart" width="600" height="300"></canvas>
				</div>
			</div>
		</div>
		<div class="second row">
			<div class="department col-md-6">
				<div class="department_chart">
					<label class="label" for="departmentChart">Departments:</label>
					<canvas id="departmentChart" width="600" height="400"></canvas>
				</div>
			</div>
			<div class="nurse col-md-6">	
				<div class="nurse row">
					<label class="label" for="nurseChart">Nurses:</label>
					<canvas id="nurseChart" width="600" height="300"></canvas>
				</div>
			</div>
		</div>		
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


	<script>
	// Doctor pie chart JS

		var ctx1 = $("#doctorChart");

		var docPieChart = new Chart(ctx1,{
		    type: 'pie',
		    data: {
		    	labels: ['Available doctors','Occupied doctors'],
		    	datasets: [{
		    		label: "Doctors",
		    		backgroundColor: ["#2fe02c", "#ff0000"],
		    		data: {{ doctor_data }}
		    	}]
		    },
		});	

	// Nurse pie chart JS

		var ctx2 = $("#nurseChart");

		var nursePieChart = new Chart(ctx2,{
		    type: 'pie',
		    data: {
		    	labels: ['Available nurses', 'Occupied nurses'],
		    	datasets: [{
		    		label: "Nurses",
		    		backgroundColor: ["#2fe02c", "#ff0000"],
		    		data: {{ nurse_data }}
		    	}]
		    }
		});	

	//Department bar chart JS

		var ctx3 = $("#departmentChart");

		var myBarChart = new Chart(ctx3, {
		    type: 'bar',
		    data: {
		    	labels: ['Neurology', 'Cardiology', 'Trauma', 'ENT', 'General Surgery', 'Maternity', 'Oncology', 'Urology'],
		    	datasets: [{
		    		label: "No. of patients",
		    		backgroundColor: "#7729d1",
		    		data: {{ department_data }},
		    	}]
		    },
		    options: {
		    	scales: {
		    		yAxes : [{
		    			display: true,
		    			ticks: {
		    				beginAtZero: true,
		    			}
		    		}]
		    	}
		    }

		});


</script>


</body>
</html>